In [13]:
# ! pip install pandas
import pandas as pd
from datetime import datetime, timedelta

In [2]:
df = pd.read_csv('5111.csv')

In [3]:
df.columns

Index(['DATE', 'DESCRIPTION', 'DEBIT', 'CREDIT', 'BALANCE',
       'CLASSIFICATION_TRANS'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DATE                  451 non-null    object
 1   DESCRIPTION           451 non-null    object
 2   DEBIT                 83 non-null     float64
 3   CREDIT                368 non-null    float64
 4   BALANCE               451 non-null    float64
 5   CLASSIFICATION_TRANS  451 non-null    object
dtypes: float64(3), object(3)
memory usage: 21.3+ KB

In [17]:
df['DATE'] = pd.to_datetime(df['DATE']).dt.strftime('%Y-%m-%d')

In [6]:
df['MONTH'] = pd.to_datetime(df['DATE']).dt.month_name()
df['YEAR'] = pd.to_datetime(df['DATE']).dt.year.astype('str')
df['MONTH_YEAR'] = df['MONTH'] +'_'+df['YEAR']

In [7]:
result = {}
for month in df['MONTH_YEAR'].unique():
    result[month] = df[df['MONTH_YEAR']==month][['DATE', 'DESCRIPTION', 'DEBIT', 'CREDIT', 'BALANCE',
'CLASSIFICATION_TRANS']].to_dict(orient='records')

### Results One

In [8]:
result

{'January_2023': [{'DATE': Timestamp('2023-01-11 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 670.16,
   'BALANCE': 2726.697,
   'CLASSIFICATION_TRANS': 'TRANSFER'}],
 'February_2023': [{'DATE': Timestamp('2023-02-11 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 617.99,
   'BALANCE': 3344.691,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-02-11 00:00:00'),
   'DESCRIPTION': 'INW CHQ',
   'DEBIT': 209.0,
   'CREDIT': nan,
   'BALANCE': 3135.691,
   'CLASSIFICATION_TRANS': 'CHQ'}],
 'May_2023': [{'DATE': Timestamp('2023-05-11 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 609.93,
   'BALANCE': 3745.622,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-05-11 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 557.0,
   'BALANCE': 4302.622,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-05-11 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 781.81,
   'BALANCE': 5084.434,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-05-12 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 915.86,
   'BALANCE': 1020.808,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-05-12 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 900.0,
   'BALANCE': 1920.808,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-05-12 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 350.0,
   'BALANCE': 2270.808,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-05-12 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 450.0,
   'BALANCE': 2720.808,
   'CLASSIFICATION_TRANS': 'CASH'}],
 'June_2023': [{'DATE': Timestamp('2023-06-11 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 451.25,
   'BALANCE': 5535.685,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-06-11 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 700.0,
   'BALANCE': 6235.685,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-06-11 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 500.0,
   'BALANCE': 6735.685,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-06-11 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 190.0,
   'BALANCE': 6925.685,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-06-12 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 621.0,
   'BALANCE': 3341.808,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-06-12 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 560.0,
   'BALANCE': 3901.808,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-06-12 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 60.0,
   'BALANCE': 3961.808,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-06-12 00:00:00'),
   'DESCRIPTION': 'CASH CHQ',
   'DEBIT': 1535.0,
   'CREDIT': nan,
   'BALANCE': 2426.808,
   'CLASSIFICATION_TRANS': 'CASH'}],
 'July_2023': [{'DATE': Timestamp('2023-07-11 00:00:00'),
   'DESCRIPTION': 'CASH CHQ',
   'DEBIT': 3000.0,
   'CREDIT': nan,
   'BALANCE': 3925.685,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-07-11 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 514.98,
   'BALANCE': 4440.668,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-07-12 00:00:00'),
   'DESCRIPTION': 'CASH CHQ',
   'DEBIT': 500.0,
   'CREDIT': nan,
   'BALANCE': 1926.808,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-07-12 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 350.0,
   'BALANCE': 2276.808,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-07-12 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 200.0,
   'BALANCE': 2476.808,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-07-12 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 656.75,
   'BALANCE': 3133.562,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-07-12 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 350.0,
   'BALANCE': 3483.562,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-07-12 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 550.0,
   'BALANCE': 4033.562,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-07-12 00:00:00'),
   'DESCRIPTION': 'CASH CHQ',
   'DEBIT': 3265.0,
   'CREDIT': nan,
   'BALANCE': 768.562,
   'CLASSIFICATION_TRANS': 'CASH'}],
 'August_2023': [{'DATE': Timestamp('2023-08-11 00:00:00'),
   'DESCRIPTION': 'CASH CHQ',
   'DEBIT': 4000.0,
   'CREDIT': nan,
   'BALANCE': 440.668,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-08-11 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 823.34,
   'BALANCE': 1264.007,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-08-11 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 400.0,
   'BALANCE': 1664.007,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-08-11 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 157.5,
   'BALANCE': 1821.507,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-08-11 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 360.0,
   'BALANCE': 2181.507,
   'CLASSIFICATION_TRANS': 'CASH'}],
 'September_2023': [{'DATE': Timestamp('2023-09-11 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 572.35,
   'BALANCE': 2753.857,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-09-11 00:00:00'),
   'DESCRIPTION': 'CASH CHQ',
   'DEBIT': 2630.0,
   'CREDIT': nan,
   'BALANCE': 123.857,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-09-11 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 350.0,
   'BALANCE': 473.857,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-09-11 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 200.0,
   'BALANCE': 673.857,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-09-11 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 51.0,
   'BALANCE': 724.857,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-09-11 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 210.0,
   'BALANCE': 934.857,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-09-11 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 1799.6,
   'BALANCE': 2734.457,
   'CLASSIFICATION_TRANS': 'CASH'}],
 'December_2023': [{'DATE': Timestamp('2023-12-11 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 500.0,
   'BALANCE': 3234.457,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-11 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 450.0,
   'BALANCE': 3684.457,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-11 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 450.0,
   'BALANCE': 4134.457,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-11 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 514.07,
   'BALANCE': 4648.531,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-11 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 502.27,
   'BALANCE': 5150.802,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-11 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 948.61,
   'BALANCE': 6099.415,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-11 00:00:00'),
   'DESCRIPTION': 'CASH CHQ',
   'DEBIT': 2700.0,
   'CREDIT': nan,
   'BALANCE': 3399.415,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-12 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 1038.3,
   'BALANCE': 53106.34,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-12 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 300.0,
   'BALANCE': 53406.34,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-12 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 650.0,
   'BALANCE': 54056.34,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-12 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 285.0,
   'BALANCE': 54341.34,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-12 00:00:00'),
   'DESCRIPTION': 'CASH CHQ',
   'DEBIT': 10000.0,
   'CREDIT': nan,
   'BALANCE': 44341.34,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-13 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 834.13,
   'BALANCE': 45175.47,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-14 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 745.64,
   'BALANCE': 45921.106,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-14 00:00:00'),
   'DESCRIPTION': 'CASH CHQ',
   'DEBIT': 27000.0,
   'CREDIT': nan,
   'BALANCE': 18921.106,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-14 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 450.0,
   'BALANCE': 19371.106,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-14 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 72.7,
   'BALANCE': 19443.806,
   'CLASSIFICATION_TRANS': 'REVERSED'},
  {'DATE': Timestamp('2023-12-14 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 850.0,
   'BALANCE': 20293.806,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-14 00:00:00'),
   'DESCRIPTION': 'REVERSED CASH',
   'DEBIT': 72.7,
   'CREDIT': nan,
   'BALANCE': 20221.106,
   'CLASSIFICATION_TRANS': 'REVERSED'},
  {'DATE': Timestamp('2023-12-14 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 92.7,
   'BALANCE': 20313.806,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-14 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 300.0,
   'BALANCE': 20613.806,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-19 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 965.11,
   'BALANCE': 21578.914,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-19 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 1284.99,
   'BALANCE': 22863.899,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-19 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 857.38,
   'BALANCE': 23721.275,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-19 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 450.0,
   'BALANCE': 24171.275,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-19 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 250.0,
   'BALANCE': 24421.275,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-19 00:00:00'),
   'DESCRIPTION': 'CHQ',
   'DEBIT': 15000.0,
   'CREDIT': nan,
   'BALANCE': 9421.275,
   'CLASSIFICATION_TRANS': 'CHQ'},
  {'DATE': Timestamp('2023-12-19 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 889.06,
   'BALANCE': 10310.338,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-19 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 1167.06,
   'BALANCE': 11477.399,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-20 00:00:00'),
   'DESCRIPTION': 'CASH CHQ',
   'DEBIT': 500.0,
   'CREDIT': nan,
   'BALANCE': 10977.399,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-20 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 484.71,
   'BALANCE': 11462.11,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-20 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 500.0,
   'BALANCE': 11962.11,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-20 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 450.0,
   'BALANCE': 12412.11,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-21 00:00:00'),
   'DESCRIPTION': 'CASH CHQ',
   'DEBIT': 6000.0,
   'CREDIT': nan,
   'BALANCE': 6412.11,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-21 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 544.57,
   'BALANCE': 6956.675,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-24 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 820.0,
   'BALANCE': 7776.675,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-24 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 850.0,
   'BALANCE': 8626.675,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-24 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 70.0,
   'BALANCE': 8696.675,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-24 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 150.0,
   'BALANCE': 8846.675,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-24 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 850.0,
   'BALANCE': 9696.675,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-24 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 650.0,
   'BALANCE': 10346.675,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-24 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 1282.54,
   'BALANCE': 11629.214,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-24 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 1063.73,
   'BALANCE': 12692.939,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-24 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 1557.18,
   'BALANCE': 14250.122,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-24 00:00:00'),
   'DESCRIPTION': 'CASH CHQ',
   'DEBIT': 9385.0,
   'CREDIT': nan,
   'BALANCE': 4865.122,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-25 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 982.14,
   'BALANCE': 5847.261,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-25 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 100.0,
   'BALANCE': 5947.261,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-25 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 750.0,
   'BALANCE': 6697.261,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-26 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 730.26,
   'BALANCE': 7427.524,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-26 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 250.0,
   'BALANCE': 7677.524,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-26 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 600.0,
   'BALANCE': 8277.524,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-26 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 500.0,
   'BALANCE': 8777.524,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-26 00:00:00'),
   'DESCRIPTION': 'CASH CHQ',
   'DEBIT': 2000.0,
   'CREDIT': nan,
   'BALANCE': 6777.524,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-26 00:00:00'),
   'DESCRIPTION': 'CHQ ISSUE CHARG',
   'DEBIT': 6.3,
   'CREDIT': nan,
   'BALANCE': 6771.224,
   'CLASSIFICATION_TRANS': 'BANK-CHARGES'},
  {'DATE': Timestamp('2023-12-27 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 593.16,
   'BALANCE': 7364.387,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-28 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 770.42,
   'BALANCE': 8134.803,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-28 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 750.0,
   'BALANCE': 8884.803,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-28 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 200.0,
   'BALANCE': 9084.803,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-28 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 43.4,
   'BALANCE': 9128.203,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-31 00:00:00'),
   'DESCRIPTION': 'MIN BAL CHRG',
   'DEBIT': 0.53,
   'CREDIT': nan,
   'BALANCE': 9127.678,
   'CLASSIFICATION_TRANS': 'MIN-BALANCE'},
  {'DATE': Timestamp('2023-12-31 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 1041.14,
   'BALANCE': 10168.813,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-31 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 889.94,
   'BALANCE': 11058.749,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-31 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 994.58,
   'BALANCE': 12053.329,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-12-31 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 537.0,
   'BALANCE': 12590.329,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-31 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 159.8,
   'BALANCE': 12750.129,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-31 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 59.5,
   'BALANCE': 12809.629,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-12-31 00:00:00'),
   'DESCRIPTION': 'CASH CHQ',
   'DEBIT': 7639.0,
   'CREDIT': nan,
   'BALANCE': 5170.629,
   'CLASSIFICATION_TRANS': 'CASH'}],
 'November_2023': [{'DATE': Timestamp('2023-11-13 00:00:00'),
   'DESCRIPTION': '000000000122838:',
   'DEBIT': nan,
   'CREDIT': 651.64,
   'BALANCE': 4051.056,
   'CLASSIFICATION_TRANS': 'TRANSFER'},
  {'DATE': Timestamp('2023-11-13 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 950.0,
   'BALANCE': 5001.056,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-11-13 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 720.0,
   'BALANCE': 5721.056,
   'CLASSIFICATION_TRANS': 'CASH'},
  {'DATE': Timestamp('2023-11-13 00:00:00'),
   'DESCRIPTION': 'CASH DEPOSIT-SIN',
   'DEBIT': nan,
   'CREDIT': 150.0,
   'BALANCE': 5871.056,

In [119]:
df['is_sunday'] = False
df['is_saturday'] = False
df['is_saturday2'] = False
df['is_saturday4'] = False
df.loc[pd.to_datetime(df['DATE']).dt.day_name()=='Saturday','is_saturday']=True
df.loc[pd.to_datetime(df['DATE']).dt.day_name()=='Sunday','is_sunday']=True

In [32]:
pd.to_datetime(df['DATE']).dt.day_name().unique()

array(['Wednesday', 'Saturday', 'Thursday', 'Sunday', 'Tuesday', 'Friday',
       'Monday'], dtype=object)

In [55]:
df[df['is_saturday']==True].groupby('MONTH_YEAR')

In [68]:
df['MONTH'].unique()

array(['January', 'February', 'May', 'June', 'July', 'August',
       'September', 'December', 'November', 'March', 'April', 'October'],
      dtype=object)

### The logic in finding the second and fourth saturday is completely mine it took some time but i found, even i was not able to find the right logic from internet but the logic in mine

#### creating the list of all dates from max to min (which is take from the dataframe present)

In [90]:
def generate_date_list(start_date, end_date):

    start = datetime.strptime(start_date, '%Y-%m-%d')
    end = datetime.strptime(end_date, '%Y-%m-%d')
    date_list = []
    current_date = start
    while current_date <= end:
        date_list.append(current_date.strftime('%Y-%m-%d'))
        current_date += timedelta(days=1)
    return date_list

In [99]:
start_year = str(pd.to_datetime(df['DATE']).dt.year.min())

In [100]:
start_date = f'{start_year}-01-01'
start_date
end_date = str(df['DATE'].max())
dates = generate_date_list(start_date, end_date)

In [101]:
dates

['2023-01-01',
 '2023-01-02',
 '2023-01-03',
 '2023-01-04',
 '2023-01-05',
 '2023-01-06',
 '2023-01-07',
 '2023-01-08',
 '2023-01-09',
 '2023-01-10',
 '2023-01-11',
 '2023-01-12',
 '2023-01-13',
 '2023-01-14',
 '2023-01-15',
 '2023-01-16',
 '2023-01-17',
 '2023-01-18',
 '2023-01-19',
 '2023-01-20',
 '2023-01-21',
 '2023-01-22',
 '2023-01-23',
 '2023-01-24',
 '2023-01-25',
 '2023-01-26',
 '2023-01-27',
 '2023-01-28',
 '2023-01-29',
 '2023-01-30',
 '2023-01-31',
 '2023-02-01',
 '2023-02-02',
 '2023-02-03',
 '2023-02-04',
 '2023-02-05',
 '2023-02-06',
 '2023-02-07',
 '2023-02-08',
 '2023-02-09',
 '2023-02-10',
 '2023-02-11',
 '2023-02-12',
 '2023-02-13',
 '2023-02-14',
 '2023-02-15',
 '2023-02-16',
 '2023-02-17',
 '2023-02-18',
 '2023-02-19',
 '2023-02-20',
 '2023-02-21',
 '2023-02-22',
 '2023-02-23',
 '2023-02-24',
 '2023-02-25',
 '2023-02-26',
 '2023-02-27',
 '2023-02-28',
 '2023-03-01',
 '2023-03-02',
 '2023-03-03',
 '2023-03-04',
 '2023-03-05',
 '2023-03-06',
 '2023-03-07',
 '2023-03-08',
 '2023-03-09',
 '2023-03-10',
 '2023-03-11',
 '2023-03-12',
 '2023-03-13',
 '2023-03-14',
 '2023-03-15',
 '2023-03-16',
 '2023-03-17',
 '2023-03-18',
 '2023-03-19',
 '2023-03-20',
 '2023-03-21',
 '2023-03-22',
 '2023-03-23',
 '2023-03-24',
 '2023-03-25',
 '2023-03-26',
 '2023-03-27',
 '2023-03-28',
 '2023-03-29',
 '2023-03-30',
 '2023-03-31',
 '2023-04-01',
 '2023-04-02',
 '2023-04-03',
 '2023-04-04',
 '2023-04-05',
 '2023-04-06',
 '2023-04-07',
 '2023-04-08',
 '2023-04-09',
 '2023-04-10',
 '2023-04-11',
 '2023-04-12',
 '2023-04-13',
 '2023-04-14',
 '2023-04-15',
 '2023-04-16',
 '2023-04-17',
 '2023-04-18',
 '2023-04-19',
 '2023-04-20',
 '2023-04-21',
 '2023-04-22',
 '2023-04-23',
 '2023-04-24',
 '2023-04-25',
 '2023-04-26',
 '2023-04-27',
 '2023-04-28',
 '2023-04-29',
 '2023-04-30',
 '2023-05-01',
 '2023-05-02',
 '2023-05-03',
 '2023-05-04',
 '2023-05-05',
 '2023-05-06',
 '2023-05-07',
 '2023-05-08',
 '2023-05-09',
 '2023-05-10',
 '2023-05-11',
 '2023-05-12',
 '2023-05-13',
 '2023-05-14',
 '2023-05-15',
 '2023-05-16',
 '2023-05-17',
 '2023-05-18',
 '2023-05-19',
 '2023-05-20',
 '2023-05-21',
 '2023-05-22',
 '2023-05-23',
 '2023-05-24',
 '2023-05-25',
 '2023-05-26',
 '2023-05-27',
 '2023-05-28',
 '2023-05-29',
 '2023-05-30',
 '2023-05-31',
 '2023-06-01',
 '2023-06-02',
 '2023-06-03',
 '2023-06-04',
 '2023-06-05',
 '2023-06-06',
 '2023-06-07',
 '2023-06-08',
 '2023-06-09',
 '2023-06-10',
 '2023-06-11',
 '2023-06-12',
 '2023-06-13',
 '2023-06-14',
 '2023-06-15',
 '2023-06-16',
 '2023-06-17',
 '2023-06-18',
 '2023-06-19',
 '2023-06-20',
 '2023-06-21',
 '2023-06-22',
 '2023-06-23',
 '2023-06-24',
 '2023-06-25',
 '2023-06-26',
 '2023-06-27',
 '2023-06-28',
 '2023-06-29',
 '2023-06-30',
 '2023-07-01',
 '2023-07-02',
 '2023-07-03',
 '2023-07-04',
 '2023-07-05',
 '2023-07-06',
 '2023-07-07',
 '2023-07-08',
 '2023-07-09',
 '2023-07-10',
 '2023-07-11',
 '2023-07-12',
 '2023-07-13',
 '2023-07-14',
 '2023-07-15',
 '2023-07-16',
 '2023-07-17',
 '2023-07-18',
 '2023-07-19',
 '2023-07-20',
 '2023-07-21',
 '2023-07-22',
 '2023-07-23',
 '2023-07-24',
 '2023-07-25',
 '2023-07-26',
 '2023-07-27',
 '2023-07-28',
 '2023-07-29',
 '2023-07-30',
 '2023-07-31',
 '2023-08-01',
 '2023-08-02',
 '2023-08-03',
 '2023-08-04',
 '2023-08-05',
 '2023-08-06',
 '2023-08-07',
 '2023-08-08',
 '2023-08-09',
 '2023-08-10',
 '2023-08-11',
 '2023-08-12',
 '2023-08-13',
 '2023-08-14',
 '2023-08-15',
 '2023-08-16',
 '2023-08-17',
 '2023-08-18',
 '2023-08-19',
 '2023-08-20',
 '2023-08-21',
 '2023-08-22',
 '2023-08-23',
 '2023-08-24',
 '2023-08-25',
 '2023-08-26',
 '2023-08-27',
 '2023-08-28',
 '2023-08-29',
 '2023-08-30',
 '2023-08-31',
 '2023-09-01',
 '2023-09-02',
 '2023-09-03',
 '2023-09-04',
 '2023-09-05',
 '2023-09-06',
 '2023-09-07',
 '2023-09-08',
 '2023-09-09',
 '2023-09-10',
 '2023-09-11',
 '2023-09-12',
 '2023-09-13',
 '2023-09-14',
 '2023-09-15',
 '2023-09-16',
 '2023-09-17',
 '2023-09-18',
 '2023-09-19',
 '2023-09-20',
 '2023-09-21',
 '2023-09-22',
 '2023-09-23',
 '2023-09-24',
 '2023-09-25',
 '2023-09-26',
 '2023-09-27',
 '2023-09-28',
 '2023-09-29',
 '2023-09-30',
 '2023-10-01',
 '2023-10-02',
 '2023-10-03',
 '2023-10-04',
 '2023-10-05',
 '2023-10-06',
 '2023-10-07',
 '2023-10-08',
 '2023-10-09',
 '2023-10-10',
 '2023-10-11',
 '2023-10-12',
 '2023-10-13',
 '2023-10-14',
 '2023-10-15',
 '2023-10-16',
 '2023-10-17',
 '2023-10-18',
 '2023-10-19',
 '2023-10-20',
 '2023-10-21',
 '2023-10-22',
 '2023-10-23',
 '2023-10-24',
 '2023-10-25',
 '2023-10-26',
 '2023-10-27',
 '2023-10-28',
 '2023-10-29',
 '2023-10-30',
 '2023-10-31',
 '2023-11-01',
 '2023-11-02',
 '2023-11-03',
 '2023-11-04',
 '2023-11-05',
 '2023-11-06',
 '2023-11-07',
 '2023-11-08',
 '2023-11-09',
 '2023-11-10',
 '2023-11-11',
 '2023-11-12',
 '2023-11-13',
 '2023-11-14',
 '2023-11-15',
 '2023-11-16',
 '2023-11-17',
 '2023-11-18',
 '2023-11-19',
 '2023-11-20',
 '2023-11-21',
 '2023-11-22',
 '2023-11-23',
 '2023-11-24',
 '2023-11-25',
 '2023-11-26',
 '2023-11-27',
 '2023-11-28',
 '2023-11-29',
 '2023-11-30',
 '2023-12-01',
 '2023-12-02',
 '2023-12-03',
 '2023-12-04',
 '2023-12-05',
 '2023-12-06',
 '2023-12-07',
 '2023-12-08',
 '2023-12-09',
 '2023-12-10',
 '2023-12-11',
 '2023-12-12',
 '2023-12-13',
 '2023-12-14',
 '2023-12-15',
 '2023-12-16',
 '2023-12-17',
 '2023-12-18',
 '2023-12-19',
 '2023-12-20',
 '2023-12-21',
 '2023-12-22',
 '2023-12-23',
 '2023-12-24',
 '2023-12-25',
 '2023-12-26',
 '2023-12-27',
 '2023-12-28',
 '2023-12-29',
 '2023-12-30',
 '2023-12-31',
 '2024-01-01',
 '2024-01-02',
 '2024-01-03',
 '2024-01-04',
 '2024-01-05',
 '2024-01-06',
 '2024-01-07',
 '2024-01-08',
 '2024-01-09',
 '2024-01-10',
 '2024-01-11',
 '2024-01-12',
 '2024-01-13',
 '2024-01-14',
 '2024-01-15',
 '2024-01-16',
 '2024-01-17',
 '2024-01-18',
 '2024-01-19',
 '2024-01-20',
 '2024-01-21',
 '2024-01-22',
 '2024-01-23',
 '2024-01-24',
 '2024-01-25',
 '2024-01-26',
 '2024-01-27',
 '2024-01-28',
 '2024-01-29',
 '2024-01-30',
 '2024-01-31',
 '2024-02-01',
 '2024-02-02',
 '2024-02-03',
 '2024-02-04',
 '2024-02-05',
 '2024-02-06',
 '2024-02-07',
 '2024-02-08',
 '2024-02-09',
 '2024-02-10',
 '2024-02-11',
 '2024-02-12',
 '2024-02-13',
 '2024-02-14',
 '2024-02-15',
 '2024-02-16',
 '2024-02-17',
 '2024-02-18',
 '2024-02-19',
 '2024-02-20',
 '2024-02-21',
 '2024-02-22',
 '2024-02-23',
 '2024-02-24',
 '2024-02-25',
 '2024-02-26',
 '2024-02-27',
 '2024-02-28',
 '2024-02-29',
 '2024-03-01',
 '2024-03-02',
 '2024-03-03',
 '2024-03-04',
 '2024-03-05',
 '2024-03-06',
 '2024-03-07',
 '2024-03-08',
 '2024-03-09',
 '2024-03-10',
 '2024-03-11',
 '2024-03-12',
 '2024-03-13',
 '2024-03-14',
 '2024-03-15',
 '2024-03-16',
 '2024-03-17',
 '2024-03-18',
 '2024-03-19',
 '2024-03-20',
 '2024-03-21',
 '2024-03-22',
 '2024-03-23',
 '2024-03-24',
 '2024-03-25',
 '2024-03-26',
 '2024-03-27',
 '2024-03-28',
 '2024-03-29',
 '2024-03-30',
 '2024-03-31',
 '2024-04-01',
 '2024-04-02',
 '2024-04-03',
 '2024-04-04',
 '2024-04-05',
 '2024-04-06',
 '2024-04-07',
 '2024-04-08',
 '2024-04-09',
 '2024-04-10',
 '2024-04-11',
 '2024-04-12',
 '2024-04-13',
 '2024-04-14',
 '2024-04-15',
 '2024-04-16',
 '2024-04-17',
 '2024-04-18',
 '2024-04-19',
 '2024-04-20',
 '2024-04-21',
 '2024-04-22',
 '2024-04-23',
 '2024-04-24',
 '2024-04-25',
 '2024-04-26',
 '2024-04-27',
 '2024-04-28',
 '2024-04-29',
 '2024-04-30',
 '2024-05-01',
 '2024-05-02',
 '2024-05-03',
 '2024-05-04',
 '2024-05-05',
 '2024-05-06',
 '2024-05-07',
 '2024-05-08',
 '2024-05-09',
 '2024-05-10',
 '2024-05-11',
 '2024-05-12',
 '2024-05-13',
 '2024-05-14',
 '2024-05-15',
 '2024-05-16',
 '2024-05-17',
 '2024-05-18',
 '2024-05-19',
 '2024-05-20',
 '2024-05-21',
 '2024-05-22',
 '2024-05-23',
 '2024-05-24',
 '2024-05-25',
 '2024-05-26',
 '2024-05-27',
 '2024-05-28',
 '2024-05-29',
 '2024-05-30',
 '2024-05-31',
 '2024-06-01',
 '2024-06-02',
 '2024-06-03',
 '2024-06-04',
 '2024-06-05',
 '2024-06-06',
 '2024-06-07',
 '2024-06-08',
 '2024-06-09',
 '2024-06-10',
 '2024-06-11',
 '2024-06-12',
 '2024-06-13',
 '2024-06-14',
 '2024-06-15',
 '2024-06-16',
 '2024-06-17',
 '2024-06-18',
 '2024-06-19',
 '2024-06-20',
 '2024-06-21',
 '2024-06-22',
 '2024-06-23',
 '2024-06-24',
 '2024-06-25',
 '2024-06-26',
 '2024-06-27',
 '2024-06-28',
 '2024-06-29',
 '2024-06-30',
 '2024-07-01',
 '2024-07-02',
 '2024-07-03',
 '2024-07-04',
 '2024-07-05',
 '2024-07-06',
 '2024-07-07',
 '2024-07-08',
 '2024-07-09',
 '2024-07-10',
 '2024-07-11',
 '2024-07-12',
 '2024-07-13',
 '2024-07-14',
 '2024-07-15',
 '2024-07-16',
 '2024-07-17',
 '2024-07-18',
 '2024-07-19',
 '2024-07-20',
 '2024-07-21',
 '2024-07-22',
 '2024-07-23',
 '2024-07-24',
 '2024-07-25',
 '2024-07-26',
 '2024-07-27',
 '2024-07-28',
 '2024-07-29',
 '2024-07-30',
 '2024-07-31',
 '2024-08-01',
 '2024-08-02',
 '2024-08-03',
 '2024-08-04',
 '2024-08-05',
 '2024-08-06',
 '2024-08-07',
 '2024-08-08',
 '2024-08-09',
 '2024-08-10',
 '2024-08-11',
 '2024-08-12',
 '2024-08-13',
 '2024-08-14',
 '2024-08-15',
 '2024-08-16',
 '2024-08-17',
 '2024-08-18',
 '2024-08-19',
 '2024-08-20',
 '2024-08-21',
 '2024-08-22',
 '2024-08-23',
 '2024-08-24',
 '2024-08-25',
 '2024-08-26',
 '2024-08-27',
 '2024-08-28',
 '2024-08-29',
 '2024-08-30',
 '2024-08-31',
 '2024-09-01',
 '2024-09-02',
 '2024-09-03',
 '2024-09-04',
 '2024-09-05',
 '2024-09-06',
 '2024-09-07',
 '2024-09-08',
 '2024-09-09',
 '2024-09-10',
 '2024-09-11',
 '2024-09-12',
 '2024-09-13',
 '2024-09-14',
 '2024-09-15',
 '2024-09-16',
 '2024-09-17',
 '2024-09-18',
 '2024-09-19',
 '2024-09-20',
 '2024-09-21',
 '2024-09-22',
 '2024-09-23',
 '2024-09-24',
 '2024-09-25',
 '2024-09-26',
 '2024-09-27',
 '2024-09-28',
 '2024-09-29',
 '2024-09-30',
 '2024-10-01',
 '2024-10-02',
 '2024-10-03',
 '2024-10-04',
 '2024-10-05',
 '2024-10-06',
 '2024-10-07',
 '2024-10-08',
 '2024-10-09',
 '2024-10-10',
 '2024-10-11',
 '2024-10-12',
 '2024-10-13',
 '2024-10-14',
 '2024-10-15',
 '2024-10-16',
 '2024-10-17',
 '2024-10-18',
 '2024-10-19',
 '2024-10-20',
 '2024-10-21',
 '2024-10-22',
 '2024-10-23',
 '2024-10-24',
 '2024-10-25',
 '2024-10-26',
 '2024-10-27',
 '2024-10-28',
 '2024-10-29',
 '2024-10-30',
 '2024-10-31',
 '2024-11-01',
 '2024-11-02',
 '2024-11-03',
 '2024-11-04',
 '2024-11-05',
 '2024-11-06',
 '2024-11-07',
 '2024-11-08',
 '2024-11-09',
 '2024-11-10',
 '2024-11-11',
 '2024-11-12',
 '2024-11-13',
 '2024-11-14',
 '2024-11-15',
 '2024-11-16',
 '2024-11-17',
 '2024-11-18',
 '2024-11-19',
 '2024-11-20',
 '2024-11-21',
 '2024-11-22',
 '2024-11-23',
 '2024-11-24',
 '2024-11-25',
 '2024-11-26',
 '2024-11-27',
 '2024-11-28',
 '2024-11-29',
 '2024-11-30',
 '2024-12-01',
 '2024-12-02',
 '2024-12-03']

In [120]:
date_df = pd.DataFrame(dates,columns=['DATE'])

In [121]:
date_df['MONTH'] = pd.to_datetime(date_df['DATE']).dt.month_name()
date_df['YEAR'] = pd.to_datetime(date_df['DATE']).dt.year.astype('str')
date_df['MONTH_YEAR'] = date_df['MONTH'] +'_'+date_df['YEAR']
date_df['DAY'] = pd.to_datetime(date_df['DATE']).dt.day_name()

In [122]:
date_df['is_saturday'] = False
date_df.loc[pd.to_datetime(date_df['DATE']).dt.day_name()=='Saturday','is_saturday']=True

In [123]:
date_df[(date_df['is_saturday'].isin([True,False]))&(date_df['MONTH_YEAR']=='January_2023')].sort_values('DATE')

          DATE    MONTH  YEAR    MONTH_YEAR        DAY  is_saturday
0   2023-01-01  January  2023  January_2023     Sunday        False
1   2023-01-02  January  2023  January_2023     Monday        False
2   2023-01-03  January  2023  January_2023    Tuesday        False
3   2023-01-04  January  2023  January_2023  Wednesday        False
4   2023-01-05  January  2023  January_2023   Thursday        False
5   2023-01-06  January  2023  January_2023     Friday        False
6   2023-01-07  January  2023  January_2023   Saturday         True
7   2023-01-08  January  2023  January_2023     Sunday        False
8   2023-01-09  January  2023  January_2023     Monday        False
9   2023-01-10  January  2023  January_2023    Tuesday        False
10  2023-01-11  January  2023  January_2023  Wednesday        False
11  2023-01-12  January  2023  January_2023   Thursday        False
12  2023-01-13  January  2023  January_2023     Friday        False
13  2023-01-14  January  2023  January_2023   Saturday         True
14  2023-01-15  January  2023  January_2023     Sunday        False
15  2023-01-16  January  2023  January_2023     Monday        False
16  2023-01-17  January  2023  January_2023    Tuesday        False
17  2023-01-18  January  2023  January_2023  Wednesday        False
18  2023-01-19  January  2023  January_2023   Thursday        False
19  2023-01-20  January  2023  January_2023     Friday        False
20  2023-01-21  January  2023  January_2023   Saturday         True
21  2023-01-22  January  2023  January_2023     Sunday        False
22  2023-01-23  January  2023  January_2023     Monday        False
23  2023-01-24  January  2023  January_2023    Tuesday        False
24  2023-01-25  January  2023  January_2023  Wednesday        False
25  2023-01-26  January  2023  January_2023   Thursday        False
26  2023-01-27  January  2023  January_2023     Friday        False
27  2023-01-28  January  2023  January_2023   Saturday         True
28  2023-01-29  January  2023  January_2023     Sunday        False
29  2023-01-30  January  2023  January_2023     Monday        False
30  2023-01-31  January  2023  January_2023    Tuesday        False

In [124]:
date_df[date_df['is_saturday']==True][['MONTH_YEAR','DATE']].sort_values('DATE')

        MONTH_YEAR        DATE
6     January_2023  2023-01-07
13    January_2023  2023-01-14
20    January_2023  2023-01-21
27    January_2023  2023-01-28
34   February_2023  2023-02-04
..             ...         ...
671  November_2024  2024-11-02
678  November_2024  2024-11-09
685  November_2024  2024-11-16
692  November_2024  2024-11-23
699  November_2024  2024-11-30

[100 rows x 2 columns]

In [125]:
date_df[date_df['is_saturday']==True].groupby('MONTH_YEAR').first().reset_index()

        MONTH_YEAR        DATE      MONTH  YEAR       DAY  is_saturday
0       April_2023  2023-04-01      April  2023  Saturday         True
1       April_2024  2024-04-06      April  2024  Saturday         True
2      August_2023  2023-08-05     August  2023  Saturday         True
3      August_2024  2024-08-03     August  2024  Saturday         True
4    December_2023  2023-12-02   December  2023  Saturday         True
5    February_2023  2023-02-04   February  2023  Saturday         True
6    February_2024  2024-02-03   February  2024  Saturday         True
7     January_2023  2023-01-07    January  2023  Saturday         True
8     January_2024  2024-01-06    January  2024  Saturday         True
9        July_2023  2023-07-01       July  2023  Saturday         True
10       July_2024  2024-07-06       July  2024  Saturday         True
11       June_2023  2023-06-03       June  2023  Saturday         True
12       June_2024  2024-06-01       June  2024  Saturday         True
13      March_2023  2023-03-04      March  2023  Saturday         True
14      March_2024  2024-03-02      March  2024  Saturday         True
15        May_2023  2023-05-06        May  2023  Saturday         True
16        May_2024  2024-05-04        May  2024  Saturday         True
17   November_2023  2023-11-04   November  2023  Saturday         True
18   November_2024  2024-11-02   November  2024  Saturday         True
19    October_2023  2023-10-07    October  2023  Saturday         True
20    October_2024  2024-10-05    October  2024  Saturday         True
21  September_2023  2023-09-02  September  2023  Saturday         True
22  September_2024  2024-09-07  September  2024  Saturday         True

#### after sorting saturday with dates add the sequence number so we can take 2 and 4 saturday which are present for the months

In [126]:
saturday_df = date_df[date_df['is_saturday']==True][['MONTH_YEAR','DATE']].sort_values('DATE')
saturday_df['sequence'] = date_df[date_df['is_saturday']==True].groupby('MONTH_YEAR').cumcount() + 1

In [127]:
saturday_df

        MONTH_YEAR        DATE  sequence
6     January_2023  2023-01-07         1
13    January_2023  2023-01-14         2
20    January_2023  2023-01-21         3
27    January_2023  2023-01-28         4
34   February_2023  2023-02-04         1
..             ...         ...       ...
671  November_2024  2024-11-02         1
678  November_2024  2024-11-09         2
685  November_2024  2024-11-16         3
692  November_2024  2024-11-23         4
699  November_2024  2024-11-30         5

[100 rows x 3 columns]

In [128]:
saturday_df[saturday_df['sequence']==2]

         MONTH_YEAR        DATE  sequence
13     January_2023  2023-01-14         2
41    February_2023  2023-02-11         2
69       March_2023  2023-03-11         2
97       April_2023  2023-04-08         2
132        May_2023  2023-05-13         2
160       June_2023  2023-06-10         2
188       July_2023  2023-07-08         2
223     August_2023  2023-08-12         2
251  September_2023  2023-09-09         2
286    October_2023  2023-10-14         2
314   November_2023  2023-11-11         2
342   December_2023  2023-12-09         2
377    January_2024  2024-01-13         2
405   February_2024  2024-02-10         2
433      March_2024  2024-03-09         2
468      April_2024  2024-04-13         2
496        May_2024  2024-05-11         2
524       June_2024  2024-06-08         2
559       July_2024  2024-07-13         2
587     August_2024  2024-08-10         2
622  September_2024  2024-09-14         2
650    October_2024  2024-10-12         2
678   November_2024  2024-11-09         2

#### Finding the second saturday from csv

In [133]:
df.loc[df['DATE'].isin(saturday_df[saturday_df['sequence']==2]['DATE'].unique()),'is_saturday2']=True

#### Finding the fourth saturday from csv

In [136]:
df.loc[df['DATE'].isin(saturday_df[saturday_df['sequence']==4]['DATE'].unique()),'is_saturday4']=True

## Result for saturday finding

#### Both saturday present are second and I cross verified it

In [134]:
df[df['is_saturday2']==True]

,DATE,DESCRIPTION,DEBIT,CREDIT,BALANCE,CLASSIFICATION_TRANS,MONTH,YEAR,MONTH_YEAR,is_sunday,is_saturday2,is_saturday4,is_saturday
1,2023-02-11,000000000122838:,NaN,617.99,3344.691,TRANSFER,February,2023,February_2023,False,True,False,True
2,2023-02-11,INW CHQ,209.0,NaN,3135.691,CHQ,February,2023,February_2023,False,True,False,True

In [137]:
df[df['is_saturday4']==True]

Empty DataFrame
Columns: [DATE, DESCRIPTION, DEBIT, CREDIT, BALANCE, CLASSIFICATION_TRANS, MONTH, YEAR, MONTH_YEAR, is_sunday, is_saturday2, is_saturday4, is_saturday]
Index: []